<app-header></app-header>

<main>
  <ul id="users">
    @for(user of users; track user.id){
      <li>
        <app-user
          [user] = "user"
          (select) = "onSelectUser($event)"
        ></app-user>  <!--'users' came from app.component.ts export, and pass value to UserComponent used in @Input,-->
      </li>           <!--when component emits event called 'select',  run function 'ONSelectUser' of app.component.ts !, $event contains the value that the component emitted!!-->
    }
  </ul>
  <app-task [userName]="selectedUser.name"></app-task>

    <!-- <li>
      <app-user
        [user] = "users[0]"
        (select) = "onSelectUser($event)" -->
      <!--</app-user>  <!--'users' came from app.component.ts export, and pass value to UserComponent used in @Input,-->
    <!--</li> <!--when component emits event called 'select',  run function 'ONSelectUser' of app.component.ts !, $event contains the value that the component emitted!!-->
    <!-- <li>
      <app-user
        [user] = "users[1]"
        (select) = "onSelectUser($event)"
      ></app-user>
    </li>
    <li>
      <app-user
      [user] = "users[2]"
      (select) = "onSelectUser($event)"
    ></app-user>
    </li>
    <li>
      <app-user
        [user] = "users[3]"
        (select) = "onSelectUser($event)"
      ></app-user>
    </li>
  </ul> -->

</main>

